*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

.login
{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
}
.login-1
{
    display: none;
}

.login-2
{
    width:100% ;
    height: 97%;
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 1px 19px 2px rgba(0,0,0,0.47);
    border-radius: 5px;
    margin-top:10px ;
    margin-bottom: 10px;
}

.main-logo{
    width: 100px;
    height: 100px;
}

.login-2 h3
{
    color: brown;
}

.login-2 input
{
    width: 200px;
    height: 30px;
    padding: 5px;
}

.btn-continue
{
    width: 200px;
    height: 30px;
    font-weight: 600;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-method
{
    width: 200px;
    height: 35px;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.527);
    font-weight: 800;
}

.login2-child-1
{   
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.login2-child-1 a
{
    text-decoration: none;
}


.horizontal-logo
{
    width: 200px;
}

.login-3
{
    display: none;
}

@media (min-width:768px) {
    
    .login-1
    {
        width: 35%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 20px;
    }

    .login-1 img
    {
        width: 100%;
    }

    .login-2
    {
        width: 30%;
    }

    .login-3
    {
        width: 35%;
        display: block;
        display: block;
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 20px;
    }

    .login-3 img
    {
        width: 100%;
    }

}